<!-- Loop over each object in the projects array -->
{{#each blogs as |blog| }}
<div class="row mb-4 card p-3 mt-3">
  <div class="col-md-5">
    <h2>
      <a href="/blogs/{{blog.id}}">{{blog.title}}</a>
    </h2>
  </div>
  <div class="col-md-7">
    <p>
      {{blog.contents}}
    </p>
    <p class="fs-6">Created by {{blog.user_id}} on {{format_date blog.date_created}}</p>
  </div>
</div>
{{/each}}